#main-toolbar #activity-button {
  background-image: url(../activity/fototoon.svg);
}

#doc-open {
  background-image: url(../icons/document-open.svg);
}

#doc-save {
  background-image: url(../icons/document-save.svg);
}

#previous-button {
  background-image: url(../icons/go-previous-paired.svg);
}

#next-button {
  background-image: url(../icons/go-next-paired.svg);
}

#add-button {
  background-image: url(../icons/list-add.svg);
}

#add-globe {
  background-image: url(../icons/globe.svg);
}

#text-button {
  background-image: url(../icons/format-text-size.svg);
}

#text-style-toolbar {
  padding: 0px 25px;
}

#text-inc-size {
  background-image: url(../icons/resize+.svg);
}

#text-dec-size {
  background-image: url(../icons/resize-.svg);
}

#text-set-bold {
  background-image: url(../icons/format-text-bold.svg);
}

#text-set-italic {
  background-image: url(../icons/format-text-italic.svg);
}

.color-picker {
  width: 44px;
  height: 44px;
  margin: 2px;
  border-radius: 22px;
  border-color: white;
}

#text-palette textarea {
  height: 75px;
  resize: none;
}

/* fix padding on textpalette title */
#text-palette .row.small {
    padding: 10px 10px 0px 10px;
}

/* these are the icons in the globes menu */
button.icon {
  background-repeat: no-repeat;
  background-size: 33px;
}

button#GLOBE.icon {
  background-image: url(../icons/globe.svg);
}

button#EXCLAMATION.icon {
  background-image: url(../icons/exclamation.svg);
}

button#WHISPER.icon {
  background-image: url(../icons/whisper.svg);
}

button#RECTANGLE.icon {
  background-image: url(../icons/box.svg);
}

button#CLOUD.icon {
  background-image: url(../icons/think.svg);
}

#canvas p {
  margin-top: 25%;
  text-align: center;
}

#mainCanvas {
  background-color: #ffffff;
  position: absolute;
}

#page-counter {
  color: #ffffff;
  background-color: #282828;
  width: 120px;
  height: 120px;
  border: solid 2px  white;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

#page-counter span {
  display: inline-block;
  vertical-align: middle;
  /* css trick: line-height bigger than div height to show centered :/ */
  line-height: 120px;
  font-family: Sans;
  font-weight: bold;
  font-size: 16px;
}

/* This probably should be upstream (sugar-web, I don't know why
   the separators in the toolbars are wrong */

.toolbar hr {
  margin-bottom: 5px;
};
